body, div, h1, code, p, td { margin: 0px; padding: 0px; }
body { font: 12px/1.5 tahoma,arial,宋体; }
table { border-collapse: collapse; border-spacing: 0px; }
h1 { font-size: 100%; font-weight: 500; }
a { color: rgb(51, 51, 51); }
a:hover { color: rgb(187, 64, 70); text-decoration: underline; }
a:focus { outline: 0px none; }
a { text-decoration: none; }
.clearfix {  }
.clearfix::before, .clearfix::after { content: "."; display: block; height: 0px; overflow: hidden; visibility: hidden; }
.clearfix::after { clear: both; }
.fl { float: left; }
.YaHei { font-family: "Microsoft YaHei"; }
.w690 { width: 690px; }
@font-face {
  font-family: "iconfont";
  src: url("iconfont.eot") format("embedded-opentype"), url("iconfont.woff") format("woff"), url("iconfont.ttf") format("truetype"), url("iconfont.svg") format("svg");
}
body { background-color: rgb(255, 255, 255); }
.main { width: 1000px; margin: 0px auto; position: relative; }
.article-content { border: 1px solid rgb(188, 213, 229); padding: 0px; }
.article-content .title h1 { color: rgb(51, 51, 51); font: 600 16px "microsoft yahei",arial; margin-bottom: 10px; text-align: center; padding: 15px 0px 10px; border-bottom: 1px solid rgb(188, 213, 229); }
#content { width: 660px; padding: 20px 5px 0px; margin: 0px 10px; text-align: left; line-height: 180%; clear: both; font-size: 14px; overflow-wrap: break-word; word-break: break-all; overflow: hidden; }
#content table { border: 1px solid rgb(204, 204, 204); border-collapse: collapse; text-align: center; margin-top: 0.54em; clear: both; }
#content td { padding: 0.2em 0.46em; border: 1px solid rgb(204, 204, 204); }
#content p { padding: 5px 0px; font-size: 14px; }
#content span { line-height: 180%; font-size: 12px; }
#content div { line-height: 180%; font-size: 14px; }
#content a:link { color: rgb(0, 102, 153); font-size: 14px; text-decoration: none; }
#content a:visited { color: rgb(0, 102, 153); font-size: 14px; }
#content a:hover { color: red; font-size: 14px; }
#content .jb51code { margin: 0px; padding: 0px; width: 660px; overflow: hidden; clear: both; text-align: left; }
#content code { background: rgb(255, 255, 255) none repeat scroll 0% 0%; margin: 3px auto 0px; padding: 0px 0px 0px 5px; width: 640px; line-height: 20px; clear: both; font-size: 14px; border-left: 3px solid rgb(108, 226, 108); }
#content p > code { padding: 2px 4px; font-size: 12px; line-height: 1.5; color: rgb(199, 37, 78); background-color: rgb(249, 242, 244); border-radius: 0px; border: 1px solid rgb(204, 204, 204); font-family: Menlo,Monaco,Consolas,"Courier New",monospace; }
#footer { background: rgb(250, 250, 250) none repeat scroll 0% 0%; padding: 20px 0px; margin-top: 35px; }
#footer p { text-align: center; color: rgb(85, 85, 85); line-height: 24px; }
.syntaxhighlighter a, .syntaxhighlighter div, .syntaxhighlighter code, .syntaxhighlighter table, .syntaxhighlighter table td, .syntaxhighlighter table tr, .syntaxhighlighter table tbody { border-radius: 0px !important; background: rgba(0, 0, 0, 0) none repeat scroll 0% 0% !important; border: 0px none !important; bottom: auto !important; float: none !important; height: auto !important; left: auto !important; line-height: 1.1em !important; margin: 0px !important; outline: 0px none !important; overflow: visible !important; padding: 0px !important; position: static !important; right: auto !important; text-align: left !important; top: auto !important; vertical-align: baseline !important; width: auto !important; box-sizing: content-box !important; font-family: "Consolas","Bitstream Vera Sans Mono","Courier New",Courier,monospace !important; font-weight: normal !important; font-style: normal !important; font-size: 1em !important; min-height: auto !important; }
.syntaxhighlighter { width: 100% !important; margin: 1em 0px !important; position: relative !important; overflow: auto !important; font-size: 1em !important; }
.syntaxhighlighter .line { white-space: pre !important; }
.syntaxhighlighter table { width: 100% !important; }
.syntaxhighlighter table td.code { width: 100% !important; }
.syntaxhighlighter table td.code .container { position: relative !important; }
.syntaxhighlighter table td.gutter .line { text-align: right !important; padding: 0px 0.5em 0px 1em !important; }
.syntaxhighlighter table td.code .line { padding: 0px 1em !important; }
.syntaxhighlighter .toolbar { position: absolute !important; right: 1px !important; top: 1px !important; width: 11px !important; height: 11px !important; font-size: 10px !important; z-index: 10 !important; }
.syntaxhighlighter .toolbar a { display: block !important; text-align: center !important; text-decoration: none !important; padding-top: 1px !important; }
.syntaxhighlighter { background-color: white !important; }
.syntaxhighlighter .line.alt1 { background-color: white !important; }
.syntaxhighlighter .line.alt2 { background-color: white !important; }
.syntaxhighlighter .gutter { color: rgb(175, 175, 175) !important; }
.syntaxhighlighter .gutter .line { border-right: 3px solid rgb(108, 226, 108) !important; }
.syntaxhighlighter .toolbar { color: white !important; background: rgb(108, 226, 108) none repeat scroll 0% 0% !important; border: medium none !important; }
.syntaxhighlighter .toolbar a { color: white !important; }
.syntaxhighlighter .toolbar a:hover { color: black !important; }
.syntaxhighlighter .plain { color: black !important; }
